.footer-section {
    background-color: #f4f5f8;
}

p {
    color: #777777;
}

.ccc {
    color: rgb(0, 0, 0);
}

.footer-section .col-md-6 .py-4 p i.fa {
    font-size: 20px;

    transition: transform 0.3s, background-color 0.3s;

}

.footer-section .col-md-6 .py-4 p i.fa:hover {
    transform: scale(0.8);

    background-color: #58a3ce;

    color: white;

    border-radius: 50%;

    padding: 8px;

}

.logo-img {
    width: 50% !important;
}

.footer-section .col-md-6 .py-4 p i.fa {
    padding: 0;
}