.main-section {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 16px;
    margin-bottom: 80px;
    /* border: 1px solid; */
}

.spacerh {
    padding: 20px;
}

.box-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.r2 {
    flex-wrap: wrap-reverse;
}

.column {
    width: 500px;
    object-fit: contain;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

img1 {

    width: 100%;
    transition: ease-in;
    transition-duration: .2s;
}

img:hover {
    transform: scale(1.1);
}

.content {
    margin-top: auto;
    border-radius: 26px;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.217);
}

.tap {
    width: fit-content;
    padding: 18px 22px;
    border-radius: 12px;
    border: 0;
    margin-top: 26px;
}

.cm {
    background-color: #9e346c;
    transition: ease-in;
    transition-duration: .2s;
}

.cm:hover,
.gdg:hover {
    transform: scale(1.1);
    background-color: #69727d;
}

.tl {
    background-color: #ffa601;
    transition: ease-in;
    transition-duration: .2s;
}

.gd,
.gdg {
    background-color: #545148;
    transition: ease-in;
    transition-duration: .2s;
}

.ic {
    background-color: #f68c33;
    transition: ease-in;
    transition-duration: .2s;
}

.ic:hover {
    transform: scale(1.1);
    background-color: #69727d;
}

.sm {
    background-color: #545148;
    transition: ease-in;
    transition-duration: .2s;
}

.sm:hover {
    transform: scale(1.1);
    background-color: #d03036;
}

.gd:hover {
    transform: scale(1.1);
    background-color: #f8cf52;
}

.tl:hover {
    transform: scale(1.1);
    background-color: black;
}

.cc {
    background-color: #bd0505;
    transition: ease-in;
    transition-duration: .2s;
}

.cc:hover {
    transform: scale(1.1);
}

.vm {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

h2 {
    font-size: 36px;
}