.sticksection {
    top: 200px;
    height: 300px;
    /* bottom: 200px; */
    position: sticky;

}

.layout28_tabs-link w-inline-block w-tab-link w--current {
    background-image: linear-gradient(to right, #ffffff, #bebfb073)
}

.layout28_tabs-link w-inline-block w-tab-link {
    background-image: linear-gradient(to right, #ffffff, #bebfb073)
}